.container {
  font-family: "Comic sans ms ", Times, serif;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  font-variant: small-caps;
  background: #000000;
  color: white;
  text-align: center;
}

Body {
  font-family: "Comic sans ms ", Times, serif;
  font-style: italic;
  font-size: 19px;
  font-weight: bold;
  font-variant: small-caps;
  background: #000000;
  color: green;
  text-align: center;}

